@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    background-color: hsl(185, 75%, 39%);   
}

/* ############################################## */
/* ########### BACKGROUND CIRCLES ############# */
/* ############################################## */

.backImg{
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 110vh;
    z-index: -1;
    margin-top: -30vh; /*I had to add this because for some reason it kept pushing my figure down */
}
#topCircleContainer{
    position: absolute;
}
#bottomCircleContainer{
    position: absolute;
}
#topCircle{
    margin-top: -50vh;
    margin-left: -10vw;
}
#bottomCircle{
    margin-top: 50vh;
    margin-left: 50vw;
}


/* ############################################## */
/* ################### CARD ##################### */
/* ############################################## */
.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20vh auto 0 auto;
    border-radius: 15px;
    box-shadow: rgba(8, 70, 94, 0.5048) 0px 5px 20px;
}
.profileAndBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profileImg{
    width: 6rem;
    height: 6rem;
    margin: -12.5% auto 0 auto;
    border: 5px solid #fff;
    border-radius: 5rem;
}
.backgroundImg{
    border-radius: 15px 15px 0 0;
}
.mainInfo{
    display: flex;
    font-family: 'Kumbh Sans', sans-serif;
    flex-direction: column;
    text-align: center;
    margin: 24px 0;
}
.name {
    display: inline;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}
.age {
    display: inline;
    font-size: 18px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);

}
.place {
    width: 100%;
    color: hsl(227, 10%, 46%);
    font-size: 14px;
    font-weight: 400;
    margin-top: .5rem;
}
.metrics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid hsl(228, 9%, 92%);
    font-family: 'Kumbh Sans', sans-serif;
}
.invdividualMetric{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 24px 0;
}
.invdividualMetric h1 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin-bottom: .5rem;
}
.invdividualMetric p{
    font-size: 10px;
    letter-spacing: 1.5px;
    color: hsl(227, 10%, 46%);
}

/* ############################################## */
/* ######### MEDIA QUERIES SENSITIVES ########### */
/* ############################################## */

@media (max-width: 375px) {
    .card{
        width: 90%;
    }
}

@media (min-width: 376px) {
    .card{
        max-width: 350px;      
    }
}